.signup-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;

  .signup-avatar {
    margin: 1rem;
    background-color: #1976d2; /* Adjust the background color as needed */
  }

  .signup-form {
    width: 100%;
    margin-top: 1rem;

    .MuiTextField-root {
      margin-bottom: 1rem;
    }

    .signup-button {
      margin: 1rem 0;
    }

    .signup-signin-link {
      text-align: center;
      margin-top: 1rem;

      a {
        text-decoration: none;
        color: #1976d2; /* Adjust the link color as needed */
      }
    }
  }
}
